{
    "ecmaFeatures": {},
    "env": {
        "browser": false,
        "node": true,
        "amd": false,
        "mocha": false,
        "jasmine": true
    },
    "rules": {
        "global-strict": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": [2, "nofunc"],
        "quotes": [2, "single"]
    }
}